{% extends 'base.html.twig' %}

{% block content %}
    {% for post in content_list %}
        <div class="bg-white shadow-lg rounded-md mb-10 py-6 px-6">
        {% include '_partials/post.html.twig' with { 'content': post } %}
        </div>
    {% endfor %}
    <div class="clear-both"></div>
    {% include '_partials/pagination.html.twig' with { 'url': site_root() } %}
{% endblock%}

