{% extends 'base.html.twig' %}

{% block content %}
<div class="bg-white col-span-2 shadow-lg rounded-md mb-10 py-6 px-6">
    {% include '_partials/post.html.twig' with { 'content': content, 'full': true } %}
</div>
<div>
    {% include '_partials/sidebar.html.twig' %}
</div>
{% endblock%}

